$orange:#FF6D06;
$blue:#6487DC;
$lightGray:#8B7F68;
$dimGray:#7A6B61;
$lightBlack:#272838;
$deepBlack:#2D2D2A;
$lightRed:#E06958;
$lightBlue:#DDFFF7;
$lightBrown:#DCA264;
$midBrown:#9A7146;
$purple:#CEABB1;
$turqoise:#04B989;
$white:#F2F5FA;